@mixin size-btn($h, $w) {
    height: $h;
    width: $w;
}


.btn{
    border: 0;
    
    border-radius: 4px;
    @include size-btn(40px, 150px);
}


    &--red{
        background-color: $red;
        color: $white;
    }

    &--blue{
        background-color: $blue;
        color: $white;
    }

    &--big{
        @include size-btn(80px, 190px )
    }

